<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <form method="POST" action="/user/login">
        <h2>Login</h2>
        <label for="userEmail">Email</label>
        <input type="email" id="userEmail" name="email" placeholder="Your email" required>

        <label for="userPassword">Password</label>
        <input type="password" id="userPassword" name="password" placeholder="Your password" required>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/user/register">Register here</a></p>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/admin/login" class="button">Admin Login</a>
    </div>
</div>

<%- include('../partials/footer') %>