<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <div class="notification">
        <h2>Your Order has been placed successfully!</h2>
        <a href="/user/dashboard" class="button">Back to Dashboard</a>
    </div>
</div>

<%- include('../partials/footer') %>