<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <form method="POST" action="/user/register">
        <h2>Register</h2>
        <label for="registerName">Name</label>
        <input type="text" id="registerName" name="name" placeholder="Your full name" required>

        <label for="registerEmail">Email</label>
        <input type="email" id="registerEmail" name="email" placeholder="Your email address" required>

        <label for="registerPassword">Password</label>
        <input type="password" id="registerPassword" name="password" placeholder="Choose a strong password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/user/login">Login here</a></p>
</div>

<%- include('../partials/footer') %>