
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"><footer>
  <p>&copy;Vogue_Walk. All rights reserved.</p>
</footer>
</body>
</html>
<script src="/js/script.js"></script>