<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<nav>
  
  <a href="/user/dashboard">Dashboard</a>
  <a href="/user/cart">Cart</a>
  <a href="/user/my-orders">My Orders</a>
  <a href="/user/logout">Logout</a>
</nav>
