<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <h2>Admin Dashboard</h2>
    <div class="admin-dashboard-links">
        <a href="/admin/add-product">Add Product</a>
        <a href="/admin/orders">View Orders</a>
        <a href="/admin/customers">View Customers</a>
        <a href="/admin/logout">Logout</a>
    </div>
</div>

<%- include('../partials/footer') %>